body {
    
}
.jumbotron {
  padding-top: 5rem;
  background-color: #b8ecff;
}

#Gateball{
  padding-top: 7rem;
    
}
#Sport{
  padding-top: 7rem;
  background-color: #b8ecff;  
}

#footer{
  background-color: #b8ecff;
}

section{
  padding-top: 7rem;
}